.clients-container .clients-header{
    background-color:black;
    width:100%;
    position:relative;
    text-align:center;
}
.clients-container .clients-header h1{
    position:absolute;
    top:30%;
    left:30%;
    color:white;
    font-size:60px;
}
.clients-container .clients-header img{
    width:100%;
    height:350px;
    opacity: 0.3;
}

.myCard{
    width: 200px;
}

.clients-container .clients-body a{
    color:white
}

@media(max-width:576px)
{
    .clients-container .clients-header h1{
        top:20%;
        left:10%;
        font-size:35px;
    }
}