.footer-container{
    padding:50px;
}
.footer-container .container .footer-image{
    display: flex;
    justify-content: center;
    border-bottom: solid 1px white;
    padding-bottom: 20px;
}
.footer-container .container .footer-links{
    padding-top: 40px;
    padding-bottom: 20px;
}
.footer-container .container .footer-links .footer-menu{
   width:50px;
   height: 50px;
   border:solid 2px white;
   transform: rotate(45deg);
   display: flex;
   justify-content: center;
   align-items: center;
}
.footer-container .container .footer-links .footer-menu i{

    transform: rotate(-45deg);
 }
 .footer-container .container .copy-right{
    border-top: solid 1px white;
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer-container .container .copy-right .copyright-box2{
   display: flex;
   justify-content: flex-end;
}
@media(max-width:576px)
{
    .footer-container .container .copy-right .copyright-box1{
        display: flex;
        justify-content: center;
     }
     .footer-container .container .copy-right .copyright-box2{
        justify-content: center;
     }
}