.about-section{
    padding-top: 80px;
}
.about-section .about-body{
    padding: 80px;
    background-color: #eeeeee;
    width: 80%;
    text-align: center;
    box-shadow: 0px 2px 8px 3px gray;
    margin-bottom: 80px;
}
.about-section .about-body .my-btn{
    background-color:#1F9D56;
    color:white;
    border-radius:0px;
    box-shadow: 3px 4px 5px 2px lightgray,-3px -4px 5px 2px white;
}

.parallax {
    /* The image used */
    background-image: url("../Images/parallaxImage.jpg");
  
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.formula-container .formula-section{
    margin-bottom: 50px;
}

.formula-container .formula-section h1{
    margin-bottom: 70px;
}
.formula-container .formula-section .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:20%;
}
.formula-container .formula-section .box p{
    font-size: 20px;
    margin: 0px;
    color:rgb(156, 156, 156);
    margin: 0px;
}
.formula-container .formula-section .box .formula-box{
    width: 150px;
    height: 150px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(45deg);
    background-color: #1F9D56;
    box-shadow: 2px 2px 4px 4px lightgray , -2px -2px 4px 4px white; 
}
.formula-container .formula-section .box .formula-box:hover{
    cursor: pointer;
   
}

.formula-container .formula-section .box .formula-box img{

    width:100px;
    transform: rotate(-45deg); 
}

.formula-container .collapse-section{
    margin-top: 40px;
}

.expertise-container{
    display: flex;
    justify-content: center;
}

.expertise-section{
    width: 80%;
}
.expertise-container .expertise-section .expertise{
    background-color: black;
}
.expertise-container .expertise-section .expertise img{
    width: 100%;
    height: 100%;
    opacity: 0.8;
}
.clients-and-expertise-section{
    padding:20px
}

@media(max-width:1200px)
{
    .image{
        width:500px
    }
}
@media(max-width:1024px)
{
    .image{
        width:400px
    }
}
@media(max-width:768px)
{
    .about-section .about-body{
        width: 90%;
    }
    .formula-container .formula-section .box p{
        font-size: 17px;
    }
    .formula-container .formula-section .box .formula-box{
        width: 110px;
        height: 110px;
    }
    .formula-container .formula-section h1{
        font-size: 30px;
    }
    .formula-container .formula-section .box .formula-box img{
        width:70px;
    }
    .image{
        width:300px
    }
}
@media(max-width:576px)
{
    .about-section .about-body{
        padding:20px;
    }
    .formula-container .formula-section .box p{
        font-size: 15px;
        height: 30px;
        text-align: center;
    }
    .formula-container .formula-section h1{
        font-size: 25px;
    }
    .formula-container .formula-section .box .formula-box{
        width: 60px;
        height: 60px;
    }
    .formula-container .formula-section .box .formula-box img{
        width:40px;
    }
}
@media(max-width:375px)
{
    .about-section .about-body{
        width: 100%;
        padding:10px;
    }
    .formula-container .formula-section h1{
        font-size: 20px;
    }
    .formula-container .formula-section .box .formula-box{
        width: 50px;
        height: 50px;
    }
    .formula-container .formula-section .box .formula-box img{
        width:30px;
    }
}
@media(max-width:320px)
{
    .formula-container .formula-section h1{
        font-size: 15px;
    }
    .formula-container .formula-section .box .formula-box{
        width: 40px;
        height: 40px;
    }
    .formula-container .formula-section .box .formula-box img{
        width:25px;
    }
}